/* Base style */
*{outline:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form,  label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;}
h1, h2, h3, h4, h5{font-weight:normal;}
a{outline:none;text-decoration:none;}
html, body{min-height:100%;font-family:Arial;}
ul, ol, dl{margin:0;padding:0;}
table{border-collapse:collapse;}

/* Define style */
.clearfix:after{clear:both;content:" ";display:block;height:0;}

/* Layout style */
body{background:url("../images/bg.png");}
.header{margin:10px auto;text-align:center;color:#242627;text-shadow:0 1px 0 #5B5C5E;font-size:18px;text-align:center;line-height:22px;font-weight:bold;}
.content{margin:10px auto;text-align:center;color:#242627;text-shadow:0 1px 0 #5B5C5E;}
.content img{width:90%;margin-bottom:10px;}
.footer{border-top:1px solid #242627;margin:5%;padding-top:10px;}
.footer p, .footer a{color:#242627;text-shadow:0 1px 0 #5B5C5E;font-size:14px;text-align:center;line-height:22px;}
.footer a{margin-left:30px;}