<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$smarty.const.APP_NAME} - 设置登录密码</title>
	<link type="text/css" rel="stylesheet" href="/mobi/css/common.css" />
	<script type="text/javascript" src="/mobi/js/common.js"></script>
	<script type="text/javascript">
	var EXISTS_PWD = '{$exists_pwd}';
	{literal}
	function PwdRemove(){
		var obj = null;
		var items = new Array();
		var j = 0;

		obj = document.getElementsByTagName("input");
		for(var i = 0; i < obj.length; i++){
			if(obj[i].type == 'checkbox'){
				items.push(obj[i].checked);
				obj[i].checked = false;
			}
		}

		obj = document.getElementsByTagName("input");
		for(var i = 0; i < obj.length; i++){
			if(obj[i].type == 'password'){
				if(items[j++]){
					obj[i].value = '';
					obj[i].attributes['access_exists'].value = 0;
				}
			}
		}
	}
	function PwdFocus(obj){
		if(obj.value == EXISTS_PWD){
			obj.value = '';
		}
		obj.style = 'color:#000000';
		obj.select();
	}
	function PwdBlur(obj){
		if(obj.value == '' && obj.attributes['access_exists'].value == '1'){
			obj.value = EXISTS_PWD;
		}
		obj.style= 'color:#666666';
	}
	window.onload = function(){
		var obj = document.getElementsByTagName("input");
		for(var i = 0; i < obj.length; i++){
			if(obj[i].type == 'password'){
				if(obj[i].attributes['access_exists'].value == '1'){
					obj[i].value = EXISTS_PWD;
				}
				obj[i].style = 'color:#666666;';
			}
		}
	}
	{/literal}
	</script>
</head>
<body>
	{include file="mobi_common_header.html"}
	<div class="content">
		<div class="terms">
			<p>清除或使用其它密码登录站点。</p>
		</div>
		<form action="" method="post">
			{foreach from=$sites key=k item=v}
			<div class="section site">
				<input type="checkbox" />
				<input type="password" name="p_{md5($k)}" onfocus="PwdFocus(this)" onblur="PwdBlur(this)" access_exists="{$v.ACCESS}" />
				<span><span>For</span>{$k}</span>
			</div>
			{/foreach}
			<div class="bar">
				<input type="button" class="mgr10" value="取消" onclick="window.location.href='../';" />
				<input type="button" class="mgr10" value="移除项" onclick="PwdRemove()" />
				<input type="submit" value="保存" />
			</div>
		</form>
	</div>
	{include file="mobi_common_footer.html"}
</body>
</html>
