<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$params.app_name}</title>
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript">
	{literal}
	$(function(){
		$(".access .password a").click(function(){
			var data = {
				password: $("input[name='password']").val(),
				remember: $("input[name='remember']").val(),
				app_url: $("input[name='app_url']").val(),
				callback: $("input[name='callback']").val()
			};
			if(data.password == ""){
				$(".access .panel .msg").html("Please input password.");
			}else{
				$.ajax({type: "POST", url: "/index.php?a=access&m=set&t=ajax", data: data, async: false, dataType: "JSON", success: function(response){
					if(typeof(response.error) != "undefined"){
						$(".access .panel .msg").html(response.error.msg);
					}else if(typeof(response.url) != "undefined"){
						window.location.href = response.url;
					}else{
						$(".access .panel .msg").html("AJAX response data error.");
					}
				}, error: function(){
					$(".access .panel .msg").html("AJAX response error.");
				}});
			}
		});
	});
	{/literal}
	</script>
</head>
<body>
	<div class="content access">
		<div class="panel">
			<dl>
				<dt>Input visiting password:</dt>
				<dd class="password">
					<input type="password" name="password" />
					<input type="hidden" name="app_url" value="{$params.app_url}" />
					<input type="hidden" name="callback" value="{$params.callback}" />
					<a href="javascript:;"><b>Confirm</b></a>
				</dd>
				<dd class="msg"></dd>
			</dl>
		</div>
	</div>
</body>
</html>
