<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="topbar">
		<a data-action_name="follower" href="/index.php?a=follower&m=index" target="subMain">关注管理</a>
		<a data-action_name="aq" href="/index.php?a=aq&m=index" target="subMain">问答管理</a>
		<a data-action_name="test" href="/index.php?a=test&m=index" target="subMain">测试接口</a>
	</div>
</body>
</html>
