<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$smarty.const.APP_NAME}</title>
	<style type="text/css">{literal}
		body{background:url("images/bg.png");padding-top:5%;}
		p{width:80%;color:#FFFFFF;font-size:120%;margin:0px auto 20px;}
		p img{width:90%;}
		.tc{text-align:center;}
	{/literal}</style>
</head>
<body>
	{if $params.location == 'j'}
		<p>爱博家园</p>
		<p class="tc"><img src="images/weixin_map_jw.jpg" /></p>
		<p>上海市 闵行区 天山西路4358弄2楼宴会厅</p>
	{else}
		<p>西郊壹号</p>
		<p class="tc"><img src="images/weixin_map_xj.jpg" /></p>
		<p>上海市 长宁区 虹桥路1950号</p>
	{/if}
	{include file="mobi_common_statistics.html"}
</body>
</html>
