<!DOCTYPE html>
<html lang="eng">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Wing and Sushi's wedding" />
	<title>Wing and Sushi's wedding</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/jquery.ui.lightness/jquery-ui-1.10.3.custom.min.css" />
	<link type="text/css" rel="stylesheet" href="css/google.fonts/arimo.css" />
	<link type="text/css" rel="stylesheet" href="css/google.fonts/niconne.css" />
	<link type="text/css" rel="stylesheet" href="css/google.fonts/oswald.css" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		var DOWNY_SHARE_URL_PREFIX = "http://share.downy.ws/index.php?a=share&m=index"
			+ "&url=" + encodeURIComponent(window.location.href)
			+ "&desc=" + encodeURIComponent(document.title)
			+ "&img[]=" + encodeURIComponent("http://wedding.downy.ws/images/photos_thumb_1.jpg")
			+ "&img[]=" + encodeURIComponent("http://wedding.downy.ws/images/photos_thumb_2.jpg")
			+ "&img[]=" + encodeURIComponent("http://wedding.downy.ws/images/photos_thumb_3.jpg");
		function DOWNY_SHARE_URL(site){
			return DOWNY_SHARE_URL_PREFIX + "&tosite=" + site;
		}
	</script>
</head>
<body>
	<div class="main">
		<div class="header">
			<div class="info">Wing & Sushi</div>
		</div>
		<div class="board">
			<div class="calendar">
				<div class="calendar-above">
					<p class="day">15<sup>th</sup></p>
					<p class="month">February</p>
					<p class="time">3:00 PM - 8:30 PM</p>
				</div>
				<div class="calendar-below">
					<a>
						<span class="heart">Come<br />And</span>
						<span class="title">Meet The Couple </span>
						<span class="text">Wing and Sushi's Story</span>
					</a>
				</div>
			</div>
			<div class="placard">
				<div class="placard-main">
					<div class="placard-content">
						<ul class="items">
							<li><img src="images/placard_1.png" /></li>
							<li><img src="images/placard_2.png" /></li>
							<li><img src="images/placard_3.png" /></li>
							<li><img src="images/placard_4.png" /></li>
							<li><img src="images/placard_5.png" /></li>
						</ul>
						<ul class="btns"><li></li><li></li><li></li><li></li><li></li></ul>
					</div>
				</div>
			</div>
			<div class="cb"></div>
		</div>
		<div class="content">
			<div class="content-above">
				<div class="bar"></div>
				<div class="photos">
					<ul class="items">
						<li><img src="images/photos_origin_1.jpg" /></li>
						<li><img src="images/photos_origin_2.jpg" /></li>
						<li><img src="images/photos_origin_3.jpg" /></li>
					</ul>
					<ul class="btns">
						<li><img src="images/photos_thumb_1.jpg" /></li>
						<li><img src="images/photos_thumb_2.jpg" /></li>
						<li><img src="images/photos_thumb_3.jpg" /></li>
					</ul>
				</div>
			</div>
			<div class="content-below">
				<div class="content-below-left">
					<div class="say">
						<h3>Love story</h3>
						<p>This HTML5 logo is licensed under Creative Commons Attribution 3.0   all are free to use and reimagine as they see fit. Stickers and T-Shirts are available now; more stuff to come. The HTML5 logo gallery (below) shows off community creativity. We invite you to submit your sightings</p>
					</div>
					<div class="share">
						<a data-site="facebook" class="facebook" target="_blank"></a>
						<a data-site="kaixin001" class="kaixin001" target="_blank"></a>
						<a data-site="renren" class="renren" target="_blank"></a>
						<a data-site="twitter" class="twitter" target="_blank"></a>
						<a data-site="weibo" class="weibo" target="_blank"></a>
						<a data-site="more" class="more" target="_blank"></a>
					</div>
				</div>
				<div class="content-below-right">
					<div class="title">
						<h3>THE CEREMONY</h3>
						<ul>
							<li title="food" class="food"></li>
							<li title="drinks" class="drinks"></li>
							<li title="smok" class="smoking"></li>
							<li title="gift" class="gift"></li>
							<li title="babies" class="babies"></li>
						</ul>
						<div class="cb"></div>
					</div>
					<div class="map">
						<a href="/index.php?a=index&m=map" target="_blank">
							<img src="images/map.jpg" />
							<img class="heart" src="images/map_heart.gif" />
						</a>
					</div>
				</div>
				<div class="cb"></div>
			</div>
		</div>
		<div class="footer">
			<p class="icp">Shanghai ICP No.13039079</p>
			<p class="copy">Copyright &copy; 2013-2014 Downy All Rights Reserved</p>
			<p class="mobi"><a href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=MOBI&callback=%2Fmobi%2F">Goto mobile site</a></p>
			<div class="cb"></div>
		</div>
	</div>
</body>
</html>
