<!DOCTYPE html>
<html lang="eng">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Wing and Sushi's wedding" />
	<title>Wing and Sushi's wedding</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="{$smarty.const.RESOURCES_DOMAIN}jquery.ui/1.10.3/lightness/jquery-ui-1.10.3.custom.min.css" />
	<link type="text/css" rel="stylesheet" href="{$smarty.const.RESOURCES_DOMAIN}font.oswald/style.css" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery.ui/1.10.3/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		var DOWNY_SHARE_URL_PREFIX = "http://share.downy.ws/index.php?a=share&m=index"
			+ "&url=" + encodeURIComponent(window.location.href)
			+ "&desc=" + encodeURIComponent(document.title)
			+ "&img[]=" + encodeURIComponent("http://wedding.downy.ws/images/photos_thumb_1.jpg")
			+ "&img[]=" + encodeURIComponent("http://wedding.downy.ws/images/photos_thumb_2.jpg")
			+ "&img[]=" + encodeURIComponent("http://wedding.downy.ws/images/photos_thumb_3.jpg");
		function DOWNY_SHARE_URL(site){
			return DOWNY_SHARE_URL_PREFIX + "&tosite=" + site;
		}
	</script>
</head>
<body>
	<div class="header"></div>
	<div class="board">
		<div class="calendar">
			<div class="calendar-above"></div>
			<div class="calendar-below">
				<a>
					<span class="heart">Ceremony</span>
					<span class="text">Date:  February 2014</span>
				</a>
			</div>
		</div>
		<div class="placard">
			<div class="placard-main">
				<div class="placard-content">
					<ul class="items">
						<li><img src="images/placard_1.png" /></li>
						<li><img src="images/placard_2.png" /></li>
						<li><img src="images/placard_3.png" /></li>
						<li><img src="images/placard_4.png" /></li>
						<li><img src="images/placard_5.png" /></li>
						<li><img src="images/placard_6.png" /></li>
						<li><img src="images/placard_7.png" /></li>
						<li><img src="images/placard_8.png" /></li>
					</ul>
					<ul class="btns"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
				</div>
			</div>
		</div>
		<div class="cb"></div>
	</div>
	<div class="content">
		<div class="content-above">
			<div class="bar"></div>
			<div class="photos">
				<ul class="items">
					<li><img src="images/photos_origin_1.jpg" /></li>
					<li><img src="images/photos_origin_2.jpg" /></li>
					<li><img src="images/photos_origin_3.jpg" /></li>
				</ul>
				<ul class="btns">
					<li><img src="images/photos_thumb_1.jpg" /></li>
					<li><img src="images/photos_thumb_2.jpg" /></li>
					<li><img src="images/photos_thumb_3.jpg" /></li>
				</ul>
			</div>
		</div>
		<div class="content-below">
			<div class="content-below-left">
				<div class="say">
					<h3>Wing and Sushi's Wedding</h3>
					<p>
						We provide this website for further information of our wedding.
						This website contains our wedding announcement, everyday and wedding pictures as well as wedding venue.
						Share this website to your friends and leave some words of congratulations for our wedding!
					</p>
				</div>
				<div class="share">
					<a data-site="facebook" class="facebook" target="_blank"></a>
					<a data-site="kaixin001" class="kaixin001" target="_blank"></a>
					<a data-site="renren" class="renren" target="_blank"></a>
					<a data-site="twitter" class="twitter" target="_blank"></a>
					<a data-site="weibo" class="weibo" target="_blank"></a>
					<a data-site="more" class="more" target="_blank"></a>
				</div>
			</div>
			<div class="content-below-right">
				<div class="title">
					<h3>THE CEREMONY</h3>
					<ul>
						<li title="You can have some refreshments at the Reception Center!" class="food"></li>
						<li title="You may ask waiters for free soft drinks, beers, coffee or hot tea!" class="drinks"></li>
						<li title="We offer cigarettes at dinner table!" class="smoking"></li>
						<li title="Two out of Ten guests at each table will have the chance to win prizes!" class="gift"></li>
						<li title="Each kid can have one adorable doll at the Reception Desk!" class="babies"></li>
					</ul>
					<div class="cb"></div>
				</div>
				<div class="map">
					<a href="/index.php?a=index&m=map" target="_blank">
						<img src="images/map.jpg" />
						<img title="We tied the knot here!" class="heart" src="images/map_heart.gif" />
					</a>
				</div>
			</div>
			<div class="cb"></div>
		</div>
	</div>
	<div class="footer">
		<p class="icp">Shanghai ICP No.13039079</p>
		<p class="copy">Copyright &copy; 2013-2014 Downy All Rights Reserved</p>
		<p class="mobi"><a href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=MOBI&callback=%2Fmobi%2F">Goto mobile site</a></p>
		<div class="cb"></div>
	</div>
	{include file="common_statistics.html"}
</body>
</html>
