<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$smarty.const.APP_NAME}</title>
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<div class="page">
		<div class="placard">
			Bright star, would I were steadfast as thou art---<br />
			Not in lone splendour hung aloft the night<br />
			And watching, with eternal lids apart,<br />
			Like nature's patient, sleepless Eremite,<br />
			The moving waters at their priestlike task<br />
			Of pure ablution round earth's human shores,<br />
			Or gazing on the new soft-fallen mask<br />
			Of snow upon the mountains and the moors---<br />
			No---yet still steadfast, still unchangeable,<br />
			Pillowed upon my fair love's ripening breast,<br />
			To feel for ever its soft fall and swell,<br />
			Awake for ever in a sweet unrest,<br />
			Still, still to hear her tender-taken breath,<br />
			And so live ever---or else swoon to death.<br />
		</div>
		<div class="content">
			<div class="photos">
				<div class="shadow"></div>
				<div class="items">
					<ul>
						<li class="current"><img src="/mobi/images/photos_origin_1.jpg" /></li>
						<li><img src="/mobi/images/photos_origin_2.jpg" /></li>
						<li><img src="/mobi/images/photos_origin_3.jpg" /></li>
					</ul>
				</div>
				<div class="bar"></div>
			</div>
			<div class="story">
				<h3>Wing and Sushi's Wedding</h3>
				<p>
					We provide this website for further information of our wedding.
					This website contains our wedding announcement, everyday and wedding pictures as well as wedding venue.
					Share this website to your friends and leave some words of congratulations for our wedding!
				</p>
			</div>
			<div class="map"><a href="/index.php?a=index&m=map" target="_blank"><img src="/mobi/images/map.jpg" /></a></div>
		</div>
		<div class="footer">
			<p class="copy">Copyright &copy; 2013-2014 Downy All Rights Reserved</p>
			<p class="icp">Shanghai ICP No.13039079</p>
			<p class="mobi"><a href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=PC&callback=%2F" data-ajax="false" class="ui-link">Goto PC site</a></p>
			<div class="cb"></div>
		</div>
	</div>
	{include file="mobi_common_statistics.html"}
</body>
</html>
