<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$smarty.const.APP_NAME}</title>
	<link type="text/css" rel="stylesheet" href="css/common.css" />
</head>
<body>
	<div class="header">Downy Weixin</div>
	<div class="content">
		<p><img src="images/qr_460.jpg" /></p>
		<p>微信搜索<b>DownyHelper</b></p>
	</div>
	<div class="footer">
		<p>Copyright © 2014-2015 Downy All Rights Reserved</p>
		<p>Shanghai ICP No.13039079<a href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=PC&callback=%2F">Goto PC site</a></p>
	</div>
	{include file="mobi_common_statistics.html"}
</body>
</html>
