<div class="header">
	<div class="portrait"></div>
	<div class="intro">
		<h3>Wing & Sushi</h3>
		<p>收入支出账本 Account book for income and expenditure</p>
		<p>&nbsp;</p>
	</div>
</div>
<div class="content clearfix statistics">
	<ul>
		<li class="block1">
			<a class="stats" href="/statistics.html" title="查看统计数据"></a>
			{if $action == 'index' && $method == 'index'}
				<a class="link" href="/insert.html">添加记录</a>
			{else}
				<a class="link" href="/">返回首页</a>
			{/if}
		</li>
		<li class="block2">	
			<canvas id="chart_hs" height="120px" width="720px"></canvas>
		</li>
	</ul>
</div>
<script type="text/javascript">
var CHART_DATA_HS = {json_encode($stats_thumb)};
{literal}
$(function(){
	var CHART_CONF_HS = {
		labels: [],
		datasets: [{
			label: 'Income',
			fillColor: 'rgba(220, 220, 220, 0.2)',
			strokeColor: 'rgba(220, 220, 220, 1)',
			pointColor: 'rgba(220, 220, 220, 1)',
			pointStrokeColor: '#FFF',
			pointHighlightFill: '#FFF',
			pointHighlightStroke: 'rgba(220, 220, 220, 1)',
			data: []
		}, {
			label: 'Expenditure',
			fillColor: 'rgba(151, 187, 205, 0.2)',
			strokeColor: 'rgba(151, 187, 205, 1)',
			pointColor: 'rgba(151, 187, 205, 1)',
			pointStrokeColor: '#FFF',
			pointHighlightFill: '#FFF',
			pointHighlightStroke: 'rgba(151, 187, 205, 1)',
			data: []
		}]
	}
	for(key in CHART_DATA_HS){
		CHART_CONF_HS.labels.push(key);
		CHART_CONF_HS.datasets[0].data.push(CHART_DATA_HS[key]['i']);
		CHART_CONF_HS.datasets[1].data.push(Math.abs(CHART_DATA_HS[key]['e']));
	}
	new Chart(
		document.getElementById('chart_hs').getContext('2d')
	).Line(CHART_CONF_HS, {responsive: true});
});
{/literal}
</script>
