RewriteEngine On

RewriteRule ^$				/index.php?a=index&m=index
RewriteRule ^index_pc.html$		/index.php?a=index&m=index&plugs_sitesetting=\%7B\%22S\%22\%3A\%22PC\%22\%7D
RewriteRule ^app_([a-zA-Z0-9]+).html$	/index.php?a=index&m=app&name=$1
