<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$params.app_name}</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content access">
		<div class="topbar"><div></div></div>
		<div class="panel">
			<dl>
				<dt>Input visit password: </dt>
				<dd class="password">
					<input type="password" name="password" />
					<input type="hidden" name="app_url" value="{$params.app_url}" />
					<input type="hidden" name="callback" value="{$params.callback}" />
					<a href="javascript:;"><b>visit website</b></a>
				</dd>
				<dd class="remember">
					<span><a></a>remember</span>
					<input type="hidden" name="remember" value="0" />
				</dd>
				<dd class="msg"></dd>
			</dl>
		</div>
	</div>
	{include file="common_footer.html"}
</body>
</html>
