<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/css/common.css" />
	<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content setting">
		<div class="name">Settings</div>
		<div class="panel clearfix">
			{include file="common_navigation.html"}
			<div class="main">
				<div class="tips">
					<p>We use several different ways to save your data in the access process.</p>
					<p>Some of the data may be stored in your browser's Cookie in order to more quickly provide you with results more in line with your intentions and other applicable functions.</p>
					<p>To ensure that your data is safe, please do not disclose their password to anyone, unless the other person is trustworthy.</p>
					<p>Make sure not to save the password in a computer or other electronic devices in public places.</p>
				</div>
			</div>
		</div>
	</div>
	{include file="common_footer.html"}
</body>
</html>
