<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/css/common.css" />
	<script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content setting">
		<div class="name">访问设置</div>
		<div class="panel clearfix">
			{include file="common_navigation.html"}
			<div class="main">
				<div class="tips">
					<p>我们使用几种不同的方式来保存您在访问过程中的数据。</p>
					<p>其中部分数据可能会存储在您浏览器的Cookie中，以便更快速地为您提供更符合您意图的结果以及其他适用的功能。</p>
					<p>为保证您的数据安全，请不要向任何人透露自己的密码，除非对方是值得信任的人。</p>
					<p>确保不要将密码保存在公共场所的计算机或其它电子设备中。</p>
				</div>
			</div>
		</div>
	</div>
	{include file="common_footer.html"}
</body>
</html>
