<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$smarty.const.APP_NAME}</title>
	<link type="text/css" rel="stylesheet" href="/mobi/css/common.css" />
	<script type="text/javascript" src="/mobi/js/common.js"></script>
</head>
<body>
	{include file="mobi_common_header.html"}
	<div class="content">
		<div class="section"><a href="/mobi/set/siteconfig.html">查看方式(传统桌面/手持设备)</a></div>
		<div class="section"><a href="/mobi/set/accesspassword.html">登录密码</a></div>
		<div class="terms">
			<p class="mgb10">我们使用几种不同的方式来保存您在访问过程中的数据。其中部分数据可能会存储在您浏览器的Cookie中，以便更快速地为您提供更符合您意图的结果以及其他适用的功能。</p>
			<p>为保证您的数据安全，请不要向任何人透露自己的密码，除非对方是值得信任的人。确保不要将密码保存在公共场所的计算机或其它电子设备中。</p>
		</div>
	</div>
	{include file="mobi_common_footer.html"}
</body>
</html>
