<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$params.app_name}</title>
	<link type="text/css" rel="stylesheet" href="css/jquery.mobile-1.3.2.min.css" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.3.2.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<div data-role="page">
		<div data-role="header"><h3>{$params.app_name}</h3></div>
		<div class="content" data-role="content">
			<fieldset data-role="controlgroup">
				<legend>Choose site type:</legend>
				<input id="st_pc" name="site_type" value="PC" type="radio" />
				<label for="st_pc">PC</label>
				<input id="st_mobi" name="site_type" value="MOBI" type="radio" checked="checked" />
				<label for="st_mobi">Mobile</label>
				<p class="tips">we system think you use mobile or pad, choose mobile site will jieyue liuliang.</p>
			</fieldset>
			<fieldset data-role="controlgroup" data-type="vertical">
				<input id="st_default" name="site_type_default" type="checkbox" value="1" />
				<label for="st_default">Use it default</label>
				<p class="tips">when use it, when you visti other site, will not need come this page.</p>
			</fieldset>
			<fieldset data-role="controlgroup">
				 <a class="confirm" data-app_url="{$params.app_url}" data-ajax="false" data-callback="{$params.callback}" href="javascript:;" data-role="button">Confirm</a>
			</fieldset>
		</div>
		<div class="footer" data-role="footer">
			<h3>Copyright &copy; 2013-2014 Downy All Rights Reserved.</h3>
			<h3>Shanghai ICP No.13039079</h3>
		</div>
	</div>
</body>
</html>
