<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME} - 设置登录密码</title>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript">
	var EXISTS_PWD = '{$exists_pwd}';
	{literal}
	$(function() {
		$('.remove').click(function(){
			var obj = null;
			$('input[type=checkbox]').each(function(){
				if($(this).is(':checked')){
					obj = $(this).parent().find('input[type=password]');
					obj.val('').data('access_exists', 0);
					$(this).removeAttr("checked");
				}
			});
		});
		$('input[type=password]').each(function(){
			if($(this).data('access_exists')){
				$(this).val(EXISTS_PWD);
			}
		}).css('color', '#666666');

		$('input[type=password]').focus(function(){
			if($(this).val() == EXISTS_PWD){
				$(this).val('');
			}
			$(this).css('color', '#000000').select();
		}).blur(function(){
			if($(this).val() == '' && $(this).data('access_exists')){
				$(this).val(EXISTS_PWD);
			}
			$(this).css('color', '#666666');
		});
	});
	{/literal}
	</script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content setting">
		<div class="name">访问设置</div>
		<div class="panel clearfix">
			{include file="common_navigation.html"}
			<div class="main">
				<div class="tips">
					<p class="head">清除或修改登录站点的密码</p>
					<p>为保证您的数据安全，请不要向任何人透露自己的密码，除非对方是值得信任的人。</p>
					<p>确保不要将密码保存在公共场所的计算机或其它电子设备中。</p>
				</div>
				<form action="" method="post">
					{foreach from=$sites key=k item=v}
					<div class="section">
						<input type="checkbox" />
						<input type="password" name="p_{md5($k)}" data-access_exists="{$v.ACCESS}" />
						<span>For</span><span>{$k}</span>
					</div>
					{/foreach}
					<div class="bar">
						<input type="button" class="mgr10" value="取消" onclick="window.location.href='../';" />
						<input type="button" class="mgr10 remove" value="移除项" />
						<input type="submit" value="保存" />
					</div>
				</form>
			</div>
		</div>
	</div>
	{include file="common_footer.html"}
</body>
</html>
