<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$smarty.const.APP_NAME}</title>
	<link type="text/css" rel="stylesheet" href="css/common.css" />
</head>
<body>
	<p>微信扫一扫</p>
	<p class="tc"><img src="images/tdcode.jpg" /></p>
	<p><span id="add_type">搜索</span><a href="weixin://profile/gh_7ddac677a9cc" onclick="WeiXinAddContact()">DownyHelper</a>关注我们</p>
	{literal}
	<script type="text/javascript">
		function WeiXinAddContact(){
			if(typeof WeixinJSBridge != "undefined"){
				WeixinJSBridge.invoke("addContact", {
					webtype: "1",
					username: "gh_7ddac677a9cc"
				},  function(d) {});
			}
		}
	</script>
	{/literal}
	{include file="mobi_common_statistics.html"}
</body>
</html>
