<xml>
<ToUserName><![CDATA[{$response.toUserName}]]></ToUserName>
<FromUserName><![CDATA[{$response.fromUserName}]]></FromUserName>
<CreateTime>{$response.createTime}</CreateTime>
<MsgType><![CDATA[news]]></MsgType>
<ArticleCount>4</ArticleCount>
<Articles>
<item>
<Title><![CDATA[This is Wing and Sushi's website]]></Title>
<Description><![CDATA[]]></Description>
<PicUrl><![CDATA[http://weixin.downy.ws/mobi/images/weixin.downy.www.jpg]]></PicUrl>
<Url><![CDATA[http://www.downy.ws/mobi/]]></Url>
</item>
<item>
<Title><![CDATA[Share something to your friends!]]></Title>
<Description><![CDATA[]]></Description>
<PicUrl><![CDATA[http://weixin.downy.ws/mobi/images/weixin.downy.share.png]]></PicUrl>
<Url><![CDATA[http://share.downy.ws/mobi/]]></Url>
</item>
<item>
<Title><![CDATA[Wing and Sushi's dating records since April 2010!]]></Title>
<Description><![CDATA[]]></Description>
<PicUrl><![CDATA[http://weixin.downy.ws/mobi/images/weixin.downy.wedate.jpg]]></PicUrl>
<Url><![CDATA[http://wedate.downy.ws/]]></Url>
</item>
<item>
<Title><![CDATA[Welcome to Wing and Sushi's wedding website!]]></Title>
<Description><![CDATA[]]></Description>
<PicUrl><![CDATA[http://weixin.downy.ws/mobi/images/weixin.downy.wedding.png]]></PicUrl>
<Url><![CDATA[http://wedding.downy.ws/mobi/]]></Url>
</item>
</Articles>
</xml>
