RewriteEngine On
RewriteRule ^$			/index.php?a=index&m=index
RewriteRule ^mobi/$		/mobi/index.php?a=index&m=index
RewriteRule ^map.html		/index.php?a=index&m=map
RewriteRule ^mobi/map.html	/mobi/index.php?a=index&m=map
