<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<div class="header">
		<div class="portrait"></div>
		<div class="intro">
			<h3>Wing & Sushi</h3>
			<p>女 现居上海-黄浦区 出生于上海-黄浦区 就读于上海外国语大学</p>
			<p>个人网址：www.baidu.com/p/Wing0910 查看更多资料>></p>
		</div>
	</div>
	<div class="content clearfix">
		<div class="timeline">
			<div class="blockwedding">2014年我们结婚了</div>
			<div class="blockyear"><div class="clearfix"><span class="year">2013年</span><span class="arr"></span></div></div>
			<div class="blockmonth clearfix">
				<div class="day">12-12</div>
				<div class="notes">
					<div class="arrow-left"></div>
					<div class="cnt">123</div>
					<div class="arrow-right"></div>
				</div>
			</div>
			<div class="blockmonth clearfix">
				<div class="day">12-12</div>
				<div class="notes">
					<div class="arrow-left"></div>
					<div class="cnt">123</div>
					<div class="arrow-right"></div>
				</div>
			</div>
			<div class="blockyear"><div class="clearfix"><span class="year">2013年</span><span class="arr"></span></div></div>
			<div class="blockmonth clearfix">
				<div class="day">12月12日</div>
				<div class="notes">
					<div class="arrow-left"></div>
					<div class="cnt">
						123
					</div>
					<div class="arrow-right"></div>
				</div>
			</div>
			<div class="blockmonth clearfix">
				<div class="day">12-12</div>
				<div class="notes">
					<div class="arrow-left"></div>
					<div class="cnt">123</div>
					<div class="arrow-right"></div>
				</div>
			</div>
			<div class="blockmeet">2010年我们相遇了</div>
		</div>
		<div class="aside">
			<ul>
				<li class="year">
					<a href="#">2013年</a>
					<ul class="month">
						<li><a href="#">12月</a></li>
						<li><a href="#">11月</a></li>
						<li><a href="#">10月</a></li>
						<li><a href="#">6月</a></li>
					</ul>
				</li>
				<li class="year current">
					<a href="#">2012年</a>
					<ul class="month">
						<li><a href="#">12月</a></li>
						<li><a href="#">11月</a></li>
						<li class="current"><a href="#">10月</a></li>
						<li><a href="#">6月</a></li>
					</ul>
				</li>
				<li class="year">
					<a href="#">2011年</a>
					<ul class="month">
						<li><a href="#">12月</a></li>
						<li><a href="#">11月</a></li>
						<li><a href="#">10月</a></li>
						<li><a href="#">6月</a></li>
					</ul>
				</li>
				<li class="year">
					<a href="#">2010年</a>
					<ul class="month">
						<li><a href="#">12月</a></li>
						<li><a href="#">11月</a></li>
						<li><a href="#">10月</a></li>
						<li><a href="#">6月</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer clearfix">
		<p class="icp">Shanghai ICP No.13039079</p>
		<p class="copy">Copyright &copy; 2013-2014 Downy All Rights Reserved</p>
		<p class="mobi"><a href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=MOBI&callback=%2Fmobi%2F">Goto mobile site</a></p>
	</div>
	<a class="mod-go-top" href="#"></a>
</body>
</html>
