<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<div class="header">
		<div class="portrait"></div>
		<div class="intro">
			<h3>Wing & Sushi</h3>
			<p>恋爱纪念册 Memorandum of Our Love Story</p>
			<p>&nbsp;</p>
		</div>
	</div>
	<div class="content clearfix">
		<div class="timeline">
			<div class="loading clearfix">
				<img src="images/hard.gif" />
				<div>Sushi墨迹墨迹中，请稍后，等不及了先揍她。。。</div>
			</div>
		</div>
		<div class="aside"></div>
	</div>
	<div class="footer clearfix">
		<p class="icp">Shanghai ICP No.13039079</p>
		<p class="copy">Copyright &copy; 2013-2014 Downy All Rights Reserved</p>
		<p class="mobi"><a data-href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=MOBI&callback=%2Fmobi%2F">Goto mobile site</a></p>
	</div>
	<a class="mod-go-top" href="#"></a>
</body>
</html>
