</head>
<body>
<style>
{literal}
/* Base style */
*{outline:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form,  label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;}
h1, h2, h3, h4, h5{font-weight:normal;}
a{outline:none;text-decoration:none;}
html, body{min-height:100%;}
ul, ol, dl{margin:0;padding:0;}
table{border-collapse:collapse;}

/* Define style */
.cb{clear:both;}
.hide{display:none;}


body{padding:0px;margin:0px;font-size:14px;}
.header{background:#CCDDFF;border:1px solid #CCDDFF;}
.header h3{color:#FFFFFF;text-align:center;margin:9px 15px 12px;font-size:18px;font-family: Helvetica,Arial,sans-serif;text-shadow:0 -1px 0 #99AACC;}
.content{padding:15px;}
.footer{background:#CCDDFF;border:1px solid #CCDDFF;}
.footer h3{color:#ffffff;text-align:center;margin:7px 15px 9px;font-size:12px;font-family:Helvetica,Arial,sans-serif;text-shadow:0 -1px 0 #99AACC;}
{/literal}
</style>
	<div class="header">
		<h3>Downy Share</h3>
	</div>
	<div class="content">
		asfasdf<br />
		asfasdf<br />
		asfasdf<br />
		asfasdf<br />
	</div>
	<div class="footer">
		<h3>Copyright &copy; 2013-2014 Downy All Rights Reserved.</h3>
		<h3>Shanghai ICP No.13039079</h3>
	</div>
