<div class="footer">
	<div class="footer_panel">
		<div class="info">
			<p class="copy">Copyright &copy; 2013-2014 Downy All Rights Reserved</p>
			<p class="icp">Shanghai ICP No.13039079</p>
			<p class="mobi"><a href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=MOBI&callback=%2Fmobi%2F">Goto mobile site</a></p>
		</div>
		<div class="links">
			<ul>
				<li><a data-site="facebook" class="share facebook" target="_blank"></a></li>
				<li><a data-site="kaixin001" class="share kaixin001" target="_blank"></a></li>
				<li><a data-site="renren" class="share renren" target="_blank"></a></li>
				<li><a data-site="twitter" class="share twitter" target="_blank"></a></li>
				<li><a data-site="weibo" class="share weibo" target="_blank"></a></li>
				<li><a class="last" href="javascript:;"></a></li>
			</ul>
		</div>
		<div class="cb"></div>
	</div>
</div>
{include file="common_statistics.html"}
