<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content">
servant
	</div>	
	{include file="common_footer.html"}
</body>
</html>
