	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript">
		var PARAMS = {$params|json_encode};
	</script>
</head>
<body>
	<div class="main">
		<div class="header">Downy Share</div>
		<div class="panel">
			<div class="above">
				<input type="text" class="url" />
				<label class="url">Url<span>qing yi http huo https kai tou</span></label>
				<input type="text" class="desc" />
				<label class="desc">Descript<span>shi feng xiang zhan dian er ding</span></label>
				<ul>
					<li data-index="0" class="focus"><img src="images/transparent.png" /><input type="hidden" class="img" /></li>
					<li data-index="1" class="hide"><img src="images/transparent.png" /><input type="hidden" class="img" /></li>
					<li data-index="2" class="hide"><img src="images/transparent.png" /><input type="hidden" class="img" /></li>
					<li data-index="3" class="hide" ><img src="images/transparent.png" /><input type="hidden" class="img" /></li>
					<li data-index="4" class="last hide"><img src="images/transparent.png" /><input type="hidden" class="img" /></li>
				</ul>
				<div class="cb"></div>
				<input type="text" class="img_txt" />
				<label class="img">Image<span>shi feng xiang zhan dian ding, zui duo chuan chu wu zhang.</span></label>
			</div>
			<div class="below">
				<img src="tosite/base/ico18.png" />
				<select class="site">
					<option data-src="tosite/base/ico18.png" value="">Choose share site</option>
					{foreach from=$tosites item=v}
						<option data-src="tosite/{$v.key}/ico18.png" value="{$v.key}">{$v.name}</option>
					{/foreach}
				</select>
				<a href="javascript:;" class="btn disable">Share</a>
			</div>
		</div>
		<div class="footer">
			<div class="icp">Shanghai ICP No.13039079</div>
			<div class="copy">Copyright &copy; 2013-2014 Downy All Rights Reserved</div>
			<div class="mobi"><a href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=MOBI&callback=%2Fmobi%2F">Goto mobile site</a></div>
			<div class="cb"></div>
		</div>
	</div>
