<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<form action="/index.php?a=aq&m=edit&id={$detail.id}" method="post" class="detail_form">
	<div class="item">
		<label class="name">编号</label>
		<div class="ctrl"><label>{$detail.id}</label></div>
	</div>
	<div class="item">
		<label class="name">问题</label>
		<div class="ctrl"><label>{$detail.val}</label></div>
	</div>
	<div class="bbar">
		<div class="ctrl">
			<input type="button" id="add" value="添加" />
			<input type="button" id="reset" value="重置" />
			<input type="button" id="save" value="保存" />
		</div>
		<div class="message"></div>
	</div>
</form>
<script type="text/javascript">
var DETAIL = {json_encode($detail)};
{literal}
var MSGBOX = $('.detail_form .message');
var CTRLBOX = $('.detail_form .bbar .ctrl');
var TRCURRENT = $('.list_main .items .current');

function drawGroup(data){
	var t_id = data.id;
	if(t_id == 0){
		while($('#_g_' + t_id).length){
			t_id++;
		}
	}
	var html = '<div class="item">' +
				'	<div class="group" id="_g_' + t_id + '">' +
				'		<input type="hidden" name="a_id[]" value="' + data.id + '" />' +
				'		<input type="hidden" name="aq_operation[]" value="hold" />' +
				'		<textarea class="mgb10" name="a_val[]"></textarea>' +
				'		<input type="checkbox" class="is_adjust" ' + (data.is_adjust == '1' ? 'checked="checked"' : '') + ' />' +
				'		<input type="hidden" name="aq_is_adjust[]" value="' + data.is_adjust + '" />' +
				'		<label>审核</label>' +
				'		<select name="a_msg_type[]"><option value="text">text</option><option value="news">news</option></select>' +
				'		<label>类型</label>' +
				'		<input type="text" class="w30" name="aq_level[]" value="' + data.level + '" />' +
				'		<label>优先级</label>' +
				'		<button class="del" onclick="return false;">删除</button>' +
				'	</div>' +
				'</div>';
	$(html).insertBefore('.detail_form .bbar');
	$('#_g_' + t_id).find('textarea[name="a_val[]"]').val(data.val);
	$('#_g_' + t_id).find('select[name="a_msg_type[]"]').val(data.msg_type);
}

for(key in DETAIL.answer){
	drawGroup(DETAIL.answer[key]);
}

$('#add').click(function(){
	drawGroup({id: 0, val: '', is_adjust: 0, msg_type: 'text', level: 0});
});

$('#reset').click(function(){
	TRCURRENT.click();
});

$('.detail_form').on('click', '.item .group .is_adjust', function(event){
	$(this).parent().find('input[name="aq_is_adjust[]"]').val($(this).is(':checked') ? '1' : '0');
});
$('.detail_form').on('click', '.item .group .del', function(event){
	if($(this).parent().find('input[name="a_id[]"]').val() == 0){
		$(this).parent().parent().remove();
	}else{
		$(this).parent().parent().hide();
		$(this).parent().find('input[name="aq_operation[]"]').val('del');
	}
	return false;
});

$('#save').click(function(){
	MSGBOX.text('saving...').removeClass().addClass('message tips');
	CTRLBOX.hide();
	$.fn.dyAjaxForm('.detail_form', {
		dataType: 'JSON',
		onEvent: {
			success: function(response){
				if(response.success){
					MSGBOX.text('save success').removeClass().addClass('message tips').click(function(){
						MSGBOX.removeClass('tips');
						CTRLBOX.show();
					});
					TRCURRENT.find('._f_is_adjust').text('已审核');
				}else{
					MSGBOX.text(response.message ? response.message : '未知错误').removeClass().addClass('message error').click(function(){
						MSGBOX.removeClass('error');
						CTRLBOX.show();
					});
				} 
			},
			error: function(jqXHR, textStatus, errorThrown){
				MSGBOX.text(JSON.stringify(jqXHR)).removeClass().addClass('message error').click(function(){
					MSGBOX.removeClass('error');
					CTRLBOX.show();
				});
			}
		}
	});
});
{/literal}
</script>
