<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content">
		<div class="article">
			<div class="main">
				<p class="say">&quot;I am Virgo, but I am stubborn; I am a programmer, but I am humorous and easy-going!&quot;</p>
				<p class="sign">&ndash;&nbsp;Wing</p>
				<p>As a programmer and a master, I constructed the website at first to record our happy memory in life, and to thank my servant for supporting me.  Later, it turned to be &quot;our website&quot; because Sushi got interested in it as well!  I will add various functions to the website, including but not limited to sub-websites, banners, codes, button icons and page headers.</p>
			</div>
		</div>
	</div>
	{include file="common_footer.html"}
</body>
</html>
