<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content">
		<div class="sites">
			<div class="site">{include file="site/share_pc.html"}</div>
			<div class="site">{include file="site/wedate_pc.html"}</div>
			<div class="site">{include file="site/wedding_pc.html"}</div>
		</div>
		<div class="about">
			<p>This Website is a comprehensive one with links to other sub-websites.  You may click on the pictures and logos on the host page to view sub-websites which may contain records of Wing and Sushi's dating, wedding announcement, wedding photos and video of the couple.  If you have any other questions or need any further information, please feel free to contact us!  And if you like our posts, share this website to your friends and leave words of congratulations to us :)</p>
		</div>
	</div>
	{include file="common_footer.html"}
</body>
</html>
