<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content">
		<div class="article">
			<div class="main">
				<p class="say">&quot;I am Libra, and I am a good negotiator; I am a lawyer, and I am passionate and cheerful!&quot;</p>
				<p class="sign">&ndash;&nbsp;Sushi</p>
				<p>Hey, I am Sushi! I will come here sometimes to see Wing's progress in coding! I wrote the words on this site and help Wing to perfect and decorate the website.  But as you know, programmers are always boring and they only concentrate on their codes, therefore, I am afraid that I will be a troublemaker here XD</p>
			</div>
		</div>
	</div>
	{include file="common_footer.html"}
</body>
</html>
