<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$smarty.const.APP_NAME}</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	{include file="common_header.html"}
	<div class="content">
		<div class="article">
			<div class="main">
				<p class="say">&quot;Wing and Sushi created me for the purpose of recording their life after marriage.&quot;</p>
				<p class="sign">&ndash;&nbsp;Downy</p>
				<p>This website will be used by Wing to accumulate coding experience, thus visitors can copy or use information excluding our photos and icons.  The contents of the website including logos, pictures, videos available on Downy.ws are the property of Wing and Sushi, and are protected by copyrights and such rights thereto are specifically reserved.  IF you really like our photos or icons, mosaic pictures are preferred!</p>
			</div>
		</div>
	</div>
	{include file="common_footer.html"}
</body>
</html>
