<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$smarty.const.APP_NAME}</title>
	<link type="text/css" rel="stylesheet" href="css/jquery.mobile-1.3.2.min.css" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.3.2.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<div class="page">
		{include file="mobi_common_header.html"}
		<div class="content">
			<div class="article">
				<p class="say">&quot;The reward for work well done is the opportunity to do more.&quot;</p>
				<p class="sign">&ndash;&nbsp;Sushi</p>
				<p>It takes a mad range of skills and disciplines to get your Mobile product launched. And we have the skills to pay the bills. Cumulatively, our team has over 9.23 million years of experience. We absolutely cherish diversity, and we believe in hiring the best person for the job, regardless of his or her physical location.</p>
				<p>It takes a mad range of skills and disciplines to get your Mobile product launched. And we have the skills to pay the bills. Cumulatively, our team has over 9.23 million years of experience. We absolutely cherish diversity, and we believe in hiring the best person for the job, regardless of his or her physical location.</p>
			</div>
		</div>
		{include file="mobi_common_footer.html"}
	</div>
</div>
</body>
</html>
