<div class="navg">
	<a href="/mobi/">HOME</a>
	<a href="/mobi/downy.html">DOWNY</a>
	<a href="/mobi/master.html">WING</a>
	<a href="/mobi/servant.html">SUSHI</a>
</div>
<div class="footer" data-role="footer">
	<h3>Copyright &copy; 2013-2014 Downy All Rights Reserved.</h3>
	<h3>
		<span>Shanghai ICP No.13039079</span>
		<span><a href="/index.php?a=cookie&m=set&s=PC&expire=max&key=SITE_TYPE&val=PC&callback=%2F" data-ajax="false" class="ui-link">Goto PC site</a></span>
	</h3>
</div>
{include file="mobi_common_statistics.html"}
