<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{$smarty.const.APP_NAME}</title>
	<link type="text/css" rel="stylesheet" href="{$smarty.const.RESOURCES_DOMAIN}jquery.mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
	<link type="text/css" rel="stylesheet" href="css/common.css" />
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="{$smarty.const.RESOURCES_DOMAIN}jquery.mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<div class="page">
		{include file="mobi_common_header.html"}
		<div class="content">
			<div class="article">
				<p class="say">&quot;I am Virgo, but I am stubborn; I am a programmer, but I am humorous and easy-going!&quot;</p>
				<p class="sign">&ndash;&nbsp;Wing</p>
				<p>As a programmer and a master, I constructed the website at first to record our happy memory in life, and to thank my servant for supporting me.  Later, it turned to be &quot;our website&quot; because Sushi got interested in it as well!  I will add various functions to the website, including but not limited to sub-websites, banners, codes, button icons and page headers.</p>
			</div>
		</div>
		{include file="mobi_common_footer.html"}
	</div>
</body>
</html>
