.content{padding-bottom:25px;}
.content fieldset{margin-bottom:25px;}
.content fieldset p.tips{margin:5px 0px 0px 15px;font-size:12px;}
.content fieldset p.tips .msg{color:#FF0000;margin-right:10px;font-weight:bold;}
.footer .ui-title{font-size:12px;white-space:normal;}
