@charset "utf-8";

header,section,footer,nav,menu,article,aside,summary{display:block;}

html,body,header,section,footer,p,div,iframe,table,tr,th,td,ul,ol,li,dd,dt,img,form,h1,h2,input,dl,dd,dt{padding:0;border:0;margin:0}
h1,h2,p,div,input{font-size:14px;}

.cc:after{content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;line-height:0;}.cc{display:inline-block}


header,section,footer{
	width:990px;
	margin: 0 auto;
}

body{
	background:#ebf4ff;
}

header{
	height:327px;
	background:url(../images/header.jpg) no-repeat;
}

h1{
	text-indent: -2000px;
}

section, section.cc{
	clear:both;
	background:#fff;
	display:block
}

.intro{
	float:left;
	width:604px;
	margin: 30px 0 30px 30px;
	display:inline;
}

.intro li{
	float:left;
	width:115px;
	height:29px;
	line-height:29px;
	color:#fff;
	background: url(../images/tab_gray.gif) no-repeat;
	margin-right: 5px;
	display:inline;
	font-weight: bold;
	text-align:center;
}

.intro li.current{
	background:url(../images/tab.gif) no-repeat;
}

.intro .content{
	border:2px solid #6699ff;
	height:300px;
	clear:left;
}

.login, .register{
	width: 292px;
	float:right;
	margin-right: 35px;
	display:inline;
}

.login h2, .register h2{
	background:url(../images/tab.gif) no-repeat;
	width:115px;
	height:29px;
	font-weight: bold;
	text-align:center;
	line-height:29px;
	color:#fff;
}

.login dl, .register dl{
	margin: 9px 0;
}

.login dt, .login dd, .register dt, .register dd{
	float:left;
	white-space: nowrap;
	line-height: 32px;
	height: 32px;
}

.login dt, .register dt{
	width: 80px;
	margin-right: 20px;
	display:inline;
	text-align:right;
}

.login input.text, .register input.text{
	width: 150px;
	height: 20px;
	border:1px solid #ccc;
	_margin-top: 3px;
}

.login input.captcha{
	width: 50px;
	height: 20px;
	border:1px solid #ccc;
	_margin-top: 3px;
}

.login input.captcha-img{
	width: 100px;
	height: 36px;
	border:1px solid #ccc;
	_margin-top: 3px;
}

.login input.submit, .register input.submit{
	width: 102px;
	height: 28px;
	font-weight:bold;
	color:#fff;
	background:url(../images/button.gif) no-repeat;
	display:block;
	float:left;
	clear:left;
	display:inline;
	margin: 5px 25px 0 25px;
	cursor:pointer;
}

.login{
	margin-top: 30px;
	margin-bottom: 30px;
}

.login form{
	border:2px solid #6699ff;
	height:150px;
}

.login a{
	margin-top: 5px;
	display:inline;
	line-height: 30px;
	height: 30px;
	float:left;
}

.register{
	margin-bottom: 35px;
}

.register form{
	border:2px solid #6699ff;
	height:87px;
}

footer{
	background:#999;
	text-align:center;
	color:#fff;
	padding: 30px 0;
}

.form-dl dl{width:650px;margin:10px;}
.form-dl dt{width:100px;float:left;padding:10px 20px 10px 0px;text-align:right;}
.form-dl dd{width:500px;float:left;padding:10px 0px;}
.form-dl dl input, .form-dl dl select{border:1px solid #CCCCCC;border-color:#6F787E #BDC5CA #BDC5CA #6F787E;font-size:14px;padding:5px;}
.form-dl dd .msg{width:20px;text-align:center;}
